.profile_img_mini{
    width: 128px;
    /*height: 256px;*/
}

.inactive_link{
    cursor: pointer;
    /*color: #5156ff;*/
    color: #007bff;
}

.inactive_link:hover{
    text-decoration: underline;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0073aa;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    background-color:white;
    border-color: black;
}

.package_list .package div{
    margin: 10px;
}