.dot {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
}

.dot-small {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
}

.inactive_link{
    cursor: pointer;
}

.SumoSelect{
    width: 96%;
}

.gci_dot_container .dot{
    margin-left: 10px;
}

.gci_dot_container span{
    margin-left: -5px;
}