
.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
}

.dot-small {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
}


.inactive_link{
    cursor: pointer;
}

.SumoSelect{
    width: 96%;
}

.gci_dot_container .dot{
    margin-left: 10px;
}

.gci_dot_container span{
    margin-left: -5px;
}

.active_link{
    cursor: pointer;
}

.video_thumb{
    position: relative;
}

.video_thumb{
    position: relative;
}

.video_thumb .watchicon2{
    margin-top: 50px;
    margin-left: -50px;
}

div .tooltip{
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}
.tooltip2 {
    color: #13054D; outline: none;
    cursor: help; text-decoration: none;
    position: relative;
    font-family: ralewaybold;
    font-size: 1.2em;
}
.tooltip2 span {
    margin-left: -999em;
    position: absolute;
}
.tooltip2:hover span {
    border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: ralewayregular, sans-serif;
    font-size: 12px;
    position: absolute; left: 1em; top: 2em; z-index: 99;
    margin-left: 0; width: 250px;
}
.tooltip2:hover img {
    border: 0; margin: -10px 0 0 -55px;
    float: left; position: absolute;
}
.tooltip2:hover em {
    font-family: ralewaybold, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block; padding: 0.2em 0 0.6em 0;
}
.aboutgci { padding: 0.8em 1em; }
* html a:hover { background: transparent; }
.aboutgci {background: #D2C9F6; border: 0px; text-shadow: none; }
