header.s4.dark {
    height: 70px;
    background: #000;
}

nav > ul > li > a {
    padding: 0 15px !important;
    line-height: 70px !important;
    height: 70px !important;
    color: #000 !Important;
}

header #logo_overlay {
    background-size: 60px !important;
    background-position: center center;
}
