.thumb_wrapper .slick-tile {}
.thumb_wrapper .slick-tile .slider-image {
  width: 100%;
  height: 60px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.thumb_wrapper .slick-tile .slider-text {
  text-align: center;
  font-size: 9px;
  color: black;
}
.thumb_wrapper .slick-prev, 
.thumb_wrapper .slick-next {
  margin: 0;
  top: 50%;
  bottom: 0;
  background-color: transparent;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}
.thumb_wrapper .slick-prev {
  left: -10px;
}
.thumb_wrapper .slick-next {
  right: -10px;
}

